<div id="app">
  <h1>My Task List</h1>
  <input v-model="newTask" @keyup.enter="addTask" placeholder="Add a new task...">
  <button @click="addTask">Add</button>
  <ul>
    <li v-for="(task, index) in tasks" :key="index">
      <input type="checkbox" v-model="task.completed">
      <span :class="{ completed: task.completed }">{{ task.title }}</span>
      <button @click="removeTask(index)">Remove</button>
      <button @click="editTask(index)" v-if="task.editing">Save</button>
      <input v-model="task.title" v-if="task.editing" @blur="task.editing = false" @keyup.enter="task.editing = false" @keyup.esc="task.editing = false">
      <button v-if="!task.editing" @click="task.editing = true">Edit</button>
    </li>
  </ul>
  <p>Completed tasks: {{ completedTasks }}</p>
  <button @click="clearCompleted">Clear Completed</button>
</div>